[flake8]
max-line-length = 88
# ignore E402; module level import not at top of file
# ignore E501; line too long
# ignore W503; line break before binary operator
# ignore F403; from module import * used; unable to detect undefined names
# ignore F405; name may be undefined, or defined from star imports: module
# ignore E731; do not assign a lambda expression, use a def
# ignore E203; whitespace before ':'
ignore = E402,E501,W503,F401,F403,F405,E731,E203